In [12]:
import pandas as pd
import import_ipynb

In [13]:
from extract import new_df

In [14]:
new_df.head()

,AREA,ST,STATE,OCC_CODE,OCC_TITLE,OCC_GROUP,TOT_EMP,EMP_PRSE,JOBS_1000,LOC_Q,...,H_MEDIAN,H_PCT75,H_PCT90,A_PCT10,A_PCT25,A_MEDIAN,A_PCT75,A_PCT90,ANNUAL,HOURLY
63,1,AL,Alabama,15-0000,Computer and Mathematical Occupations,major,"39,760",2.3,20.680,0.69,...,37.30,49.05,61.78,"42,150","56,630","77,590","102,020","128,500",NaN,NaN
64,1,AL,Alabama,15-1121,Computer Systems Analysts,detailed,"4,010",9.4,2.084,0.51,...,37.89,46.97,56.72,"53,510","64,190","78,800","97,710","117,970",NaN,NaN
65,1,AL,Alabama,15-1122,Information Security Analysts,detailed,"1,100",7.8,0.573,0.78,...,42.15,53.51,61.89,"54,360","66,790","87,660","111,290","128,720",NaN,NaN
66,1,AL,Alabama,15-1131,Computer Programmers,detailed,"7,420",4.6,3.858,2.22,...,40.49,51.08,65.95,"47,700","62,640","84,230","106,240","137,180",NaN,NaN
67,1,AL,Alabama,15-1132,"Software Developers, Applications",detailed,"5,540",5.5,2.883,0.48,...,43.00,55.35,66.43,"52,150","67,410","89,440","115,120","138,180",NaN,NaN

In [15]:
final_df = new_df.rename(columns={"H_MEDIAN": "hourly_median", "A_MEDIAN": "annual_median", "OCC_CODE": "occupation_code", "OCC_TITLE": "occupation_title", "H_MEAN": "hourly_mean", "A_MEAN": "annual_mean", "TOT_EMP": "total_employment"})
final_df

,AREA,ST,STATE,occupation_code,occupation_title,OCC_GROUP,total_employment,EMP_PRSE,JOBS_1000,LOC_Q,...,hourly_median,H_PCT75,H_PCT90,A_PCT10,A_PCT25,annual_median,A_PCT75,A_PCT90,ANNUAL,HOURLY
63,1,AL,Alabama,15-0000,Computer and Mathematical Occupations,major,"39,760",2.3,20.680,0.69,...,37.30,49.05,61.78,"42,150","56,630","77,590","102,020","128,500",NaN,NaN
64,1,AL,Alabama,15-1121,Computer Systems Analysts,detailed,"4,010",9.4,2.084,0.51,...,37.89,46.97,56.72,"53,510","64,190","78,800","97,710","117,970",NaN,NaN
65,1,AL,Alabama,15-1122,Information Security Analysts,detailed,"1,100",7.8,0.573,0.78,...,42.15,53.51,61.89,"54,360","66,790","87,660","111,290","128,720",NaN,NaN
66,1,AL,Alabama,15-1131,Computer Programmers,detailed,"7,420",4.6,3.858,2.22,...,40.49,51.08,65.95,"47,700","62,640","84,230","106,240","137,180",NaN,NaN
67,1,AL,Alabama,15-1132,"Software Developers, Applications",detailed,"5,540",5.5,2.883,0.48,...,43.00,55.35,66.43,"52,150","67,410","89,440","115,120","138,180",NaN,NaN
68,1,AL,Alabama,15-1133,"Software Developers, Systems Software",detailed,"3,720",8.7,1.933,0.70,...,47.04,60.66,74.90,"65,460","77,410","97,840","126,180","155,800",NaN,NaN
69,1,AL,Alabama,15-1134,Web Developers,detailed,600,10.8,0.313,0.35,...,26.36,34.82,45.73,"32,750","43,500","54,840","72,430","95,130",NaN,NaN
70,1,AL,Alabama,15-1141,Database Administrators,detailed,"1,910",9.0,0.991,1.24,...,39.08,48.48,58.82,"49,070","61,730","81,290","100,830","122,340",NaN,NaN
71,1,AL,Alabama,15-1142,Network and Computer Systems Administrators,detailed,"4,230",3.3,2.201,0.84,...,33.95,43.47,53.22,"44,990","55,980","70,610","90,430","110,700",NaN,NaN
72,1,AL,Alabama,15-1143,Computer Network Architects,detailed,830,7.7,0.429,0.39,...,48.26,59.21,69.98,"65,500","79,490","100,380","123,160","145,560",NaN,NaN
73,1,AL,Alabama,15-1151,Computer User Support Specialists,detailed,"5,930",6.0,3.084,0.72,...,22.10,28.14,35.47,"29,570","36,250","45,980","58,540","73,770",NaN,NaN
74,1,AL,Alabama,15-1152,Computer Network Support Specialists,detailed,"1,000",7.7,0.523,0.40,...,29.24,36.47,44.38,"37,400","46,960","60,810","75,860","92,300",NaN,NaN
75,1,AL,Alabama,15-1199,"Computer Occupations, All Other",detailed,"1,810",3.9,0.940,0.42,...,41.64,49.51,56.88,"58,120","72,160","86,610","102,980","118,310",NaN,NaN
76,1,AL,Alabama,15-2011,Actuaries,detailed,80,18.5,0.042,0.31,...,39.25,56.05,71.15,"51,880","62,010","81,650","116,580","147,990",NaN,NaN
77,1,AL,Alabama,15-2031,Operations Research Analysts,detailed,670,9.5,0.350,0.47,...,44.85,57.24,69.89,"48,080","63,570","93,300","119,070","145,370",NaN,NaN
78,1,AL,Alabama,15-2041,Statisticians,detailed,180,4.0,0.093,0.36,...,29.63,36.85,45.10,"40,700","48,290","61,630","76,650","93,820",NaN,NaN
784,2,AK,Alaska,15-0000,Computer and Mathematical Occupations,major,"5,450",6.8,17.124,0.57,...,36.92,47.13,59.75,"42,890","56,840","76,800","98,040","124,290",NaN,NaN
785,2,AK,Alaska,15-1121,Computer Systems Analysts,detailed,860,16.2,2.695,0.66,...,35.41,45.16,51.72,"35,280","47,740","73,660","93,930","107,580",NaN,NaN
786,2,AK,Alaska,15-1122,Information Security Analysts,detailed,70,35.8,0.230,0.31,...,45.34,52.12,72.43,"49,960","80,770","94,310","108,400","150,660",NaN,NaN
787,2,AK,Alaska,15-1131,Computer Programmers,detailed,600,8.2,1.877,1.08,...,41.15,49.15,61.93,"53,120","67,600","85,590","102,230","128,820",NaN,NaN
788,2,AK,Alaska,15-1132,"Software Developers, Applications",detailed,340,23.5,1.056,0.18,...,*,*,*,*,*,*,*,*,NaN,NaN
789,2,AK,Alaska,15-1133,"Software Developers, Systems Software",detailed,130,41.1,0.395,0.14,...,*,*,*,*,*,*,*,*,NaN,NaN
790,2,AK,Alaska,15-1134,Web Developers,detailed,190,18.7,0.603,0.68,...,25.90,36.09,44.84,"35,390","42,080","53,860","75,070","93,270",NaN,NaN
791,2,AK,Alaska,15-1141,Database Administrators,detailed,200,9.7,0.635,0.80,...,37.12,48.22,59.75,"44,310","58,200","77,210","100,300","124,290",NaN,NaN
792,2,AK,Alaska,15-1142,Network and Computer Systems Administrators,detailed,"1,020",15.8,3.213,1.22,...,38.45,47.49,60.13,"54,270","63,780","79,970","98,790","125,080",NaN,NaN
793,2,AK,Alaska,15-1143,Computer Network Architects,detailed,90,30.8,0.281,0.25,...,48.50,58.83,75.94,"37,500","84,560","100,880","122,360","157,950",NaN,NaN
794,2,AK,Alaska,15-1151,Computer User Support Specialists,detailed,830,6.7,2.623,0.61,...,27.51,33.89,42.11,"39,010","46,550","57,220","70,480","87,580",NaN,NaN
795,2,AK,Alaska,15-1152,Computer Network Support Specialists,detailed,320,10.8,1.012,0.77,...,26.62,33.05,43.80,"40,180","45,940","55,370","68,740","91,100",NaN,NaN
796,2,AK,Alaska,15-1199,"Computer Occupations, All Other",detailed,540,6.8,1.703,0.77,...,44.10,51.00,57.74,"67,960","77,930","91,730","106,090","120,100",NaN,NaN
797,2,AK,Alaska,15-2031,Operations Research Analysts,detailed,120,14.1,0.364,0.49,...,35.79,44.89,70.47,"43,140","57,980","74,450","93,360","146,580",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35489,56,WY,Wyoming,15-1151,Computer User Support Specialists,detailed,590,4.3,2.190,0.51,...,22.67,27.65,32.20,"30,700","38,490","47,150","57,520","66,980",NaN,NaN
35490,56,WY,Wyoming,15-1152,Computer Network Support Specialists,detailed,240,4.6,0.902,0.69,...,27.88,34.06,38.86,"33,850","44,800","57,980","70,850","80,830",NaN,NaN
35491,56,WY,Wyoming,15-1199,"Computer Occupations, All Other",detailed,140,1.1,0.513,0.23,...,33.65,40.86,48.13,"55,050","63,710","69,990","84,990","100,120",NaN,NaN
36009,66,GU,Guam,15-0000,Computer and Mathematical Occupations,major,580,2.2,9.468,0.32,...,22.06,31.25,41.26,"26,510","34,340","45,890","65,000","85,830",NaN,NaN
36010,66,GU,Guam,15-1121,Computer Systems Analysts,detailed,70,4.2,1.107,0.27,...,22.57,26.46,30.57,"29,910","40,860","46,950","55,030","63,580",NaN,NaN
36011,66,GU,Guam,15-1142,Network and Computer Systems Administrators,detailed,80,10.6,1.307,0.50,...,25.07,33.34,42.00,"35,740","42,120","52,150","69,340","87,370",NaN,NaN
36012,66,GU,Guam,15-1151,Computer User Support Specialists,detailed,130,3.7,2.168,0.50,...,16.26,20.43,25.53,"21,630","25,940","33,830","42,500","53,100",NaN,NaN
36013,66,GU,Guam,15-1152,Computer Network Support Specialists,detailed,80,4.7,1.253,0.96,...,17.77,22.77,29.18,"25,890","29,390","36,960","47,360","60,700",NaN,NaN
36014,66,GU,Guam,15-1199,"Computer Occupations, All Other",detailed,100,0.0,1.616,0.73,...,38.76,42.75,48.13,"41,230","71,460","80,630","88,910","100,110",NaN,NaN
36282,72,PR,Puerto Rico,15-0000,Computer and Mathematical Occupations,major,"10,660",3.4,12.175,0.41,...,18.75,26.73,36.19,"19,910","27,480","39,000","55,590","75,280",NaN,NaN
36283,72,PR,Puerto Rico,15-1121,Computer Systems Analysts,detailed,"1,170",5.0,1.340,0.33,...,21.11,27.78,35.71,"19,390","29,560","43,900","57,780","74,270",NaN,NaN
36284,72,PR,Puerto Rico,15-1122,Information Security Analysts,detailed,310,23.0,0.350,0.47,...,20.82,24.13,32.15,"26,610","33,220","43,300","50,200","66,870",NaN,NaN
36285,72,PR,Puerto Rico,15-1131,Computer Programmers,detailed,"1,320",8.6,1.510,0.87,...,21.82,29.34,36.58,"23,800","32,740","45,380","61,030","76,080",NaN,NaN
36286,72,PR,Puerto Rico,15-1132,"Software Developers, Applications",detailed,260,11.8,0.301,0.05,...,26.26,34.88,43.76,"29,650","40,180","54,620","72,560","91,020",NaN,NaN
36287,72,PR,Puerto Rico,15-1133,"Software Developers, Systems Software",detailed,860,26.4,0.986,0.36,...,28.03,34.86,42.51,"37,660","46,330","58,310","72,500","88,420",NaN,NaN
36288,72,PR,Puerto Rico,15-1134,Web Developers,detailed,220,11.1,0.248,0.28,...,17.20,22.03,26.59,"21,880","27,280","35,780","45,830","55,300",NaN,NaN
36289,72,PR,Puerto Rico,15-1141,Database Administrators,detailed,410,6.9,0.472,0.59,...,22.59,28.75,35.62,"26,810","35,440","46,980","59,800","74,090",NaN,NaN
36290,72,PR,Puerto Rico,15-1142,Network and Computer Systems Administrators,detailed,940,6.8,1.074,0.41,...,20.66,28.38,36.36,"26,480","32,560","42,970","59,020","75,630",NaN,NaN
36291,72,PR,Puerto Rico,15-1143,Computer Network Architects,detailed,620,5.4,0.705,0.64,...,19.37,29.47,44.64,"33,150","35,820","40,290","61,290","92,860",NaN,NaN
36292,72,PR,Puerto Rico,15-1151,Computer User Support Specialists,detailed,"3,320",5.4,3.789,0.88,...,13.32,18.25,24.44,"17,570","20,950","27,710","37,960","50,840",NaN,NaN
36293,72,PR,Puerto Rico,15-1152,Computer Network Support Specialists,detailed,500,9.3,0.567,0.43,...,17.13,22.82,30.37,"20,730","26,340","35,630","47,470","63,170",NaN,NaN
36294,72,PR,Puerto Rico,15-1199,"Computer Occupations, All Other",detailed,370,20.8,0.419,0.19,...,33.22,42.75,49.03,"18,300","29,360","69,100","88,920","101,970",NaN,NaN
36295,72,PR,Puerto Rico,15-2011,Actuaries,detailed,30,2.9,0.039,0.29,...,27.26,33.88,41.72,"36,720","45,440","56,700","70,460","86,770",NaN,NaN
36296,72,PR,Puerto Rico,15-2031,Operations Research Analysts,detailed,80,9.0,0.092,0.12,...,24.51,41.23,47.61,"23,030","28,210","50,990","85,770","99,020",NaN,NaN
36297,72,PR,Puerto Rico,15-2041,Statisticians,detailed,230,4.8,0.267,1.04,...,17.00,19.32,26.61,"24,980","29,640","35,360","40,190","55,350",NaN,NaN
36838,78,VI,Virgin Islands,15-0000,Computer and Mathematical Occupations,major,350,5.6,9.403,0.31,...,23.87,30.34,40.55,"32,900","39,700","49,650","63,120","84,350",NaN,NaN
36839,78,VI,Virgin Islands,15-1121,Computer Systems Analysts,detailed,50,3.4,1.344,0.33,...,23.32,29.82,36.48,"34,610","40,670","48,510","62,030","75,870",NaN,NaN
36840,78,VI,Virgin Islands,15-1142,Network and Computer Systems Administrators,detailed,40,14.9,1.128,0.43,...,31.40,40.69,68.73,"46,860","55,560","65,320","84,630","142,960",NaN,NaN
36841,78,VI,Virgin Islands,15-1151,Computer User Support Specialists,detailed,100,18.8,2.670,0.62,...,19.23,23.87,29.21,"31,140","34,500","39,990","49,650","60,760",NaN,NaN
36842,78,VI,Virgin Islands,15-1152,Computer Network Support Specialists,detailed,50,17.7,1.203,0.92,...,21.33,25.12,29.26,"20,690","33,720","44,360","52,250","60,870",NaN,NaN

In [16]:
final_df.head()

,AREA,ST,STATE,occupation_code,occupation_title,OCC_GROUP,total_employment,EMP_PRSE,JOBS_1000,LOC_Q,...,hourly_median,H_PCT75,H_PCT90,A_PCT10,A_PCT25,annual_median,A_PCT75,A_PCT90,ANNUAL,HOURLY
63,1,AL,Alabama,15-0000,Computer and Mathematical Occupations,major,"39,760",2.3,20.680,0.69,...,37.30,49.05,61.78,"42,150","56,630","77,590","102,020","128,500",NaN,NaN
64,1,AL,Alabama,15-1121,Computer Systems Analysts,detailed,"4,010",9.4,2.084,0.51,...,37.89,46.97,56.72,"53,510","64,190","78,800","97,710","117,970",NaN,NaN
65,1,AL,Alabama,15-1122,Information Security Analysts,detailed,"1,100",7.8,0.573,0.78,...,42.15,53.51,61.89,"54,360","66,790","87,660","111,290","128,720",NaN,NaN
66,1,AL,Alabama,15-1131,Computer Programmers,detailed,"7,420",4.6,3.858,2.22,...,40.49,51.08,65.95,"47,700","62,640","84,230","106,240","137,180",NaN,NaN
67,1,AL,Alabama,15-1132,"Software Developers, Applications",detailed,"5,540",5.5,2.883,0.48,...,43.00,55.35,66.43,"52,150","67,410","89,440","115,120","138,180",NaN,NaN

In [17]:
ca_df = final_df[final_df["ST"] == "CA"]
ca_df

,AREA,ST,STATE,occupation_code,occupation_title,OCC_GROUP,total_employment,EMP_PRSE,JOBS_1000,LOC_Q,...,hourly_median,H_PCT75,H_PCT90,A_PCT10,A_PCT25,annual_median,A_PCT75,A_PCT90,ANNUAL,HOURLY
2802,6,CA,California,15-0000,Computer and Mathematical Occupations,major,"590,550",1.2,35.373,1.18,...,48.31,63.88,79.05,"50,760","71,490","100,480","132,880","164,430",NaN,NaN
2803,6,CA,California,15-1111,Computer and Information Research Scientists,detailed,"5,750",9.0,0.345,1.76,...,59.20,76.09,93.62,"64,910","94,090","123,130","158,280","194,720",NaN,NaN
2804,6,CA,California,15-1121,Computer Systems Analysts,detailed,"72,980",3.2,4.371,1.07,...,47.08,60.35,74.83,"59,580","76,890","97,940","125,520","155,640",NaN,NaN
2805,6,CA,California,15-1122,Information Security Analysts,detailed,"8,470",5.8,0.508,0.69,...,52.11,62.99,76.59,"58,420","83,190","108,390","131,010","159,300",NaN,NaN
2806,6,CA,California,15-1131,Computer Programmers,detailed,"34,050",3.7,2.040,1.17,...,45.01,57.50,69.91,"55,120","73,190","93,620","119,610","145,420",NaN,NaN
2807,6,CA,California,15-1132,"Software Developers, Applications",detailed,"141,870",3.1,8.498,1.43,...,58.28,73.45,90.24,"70,800","94,160","121,210","152,780","187,710",NaN,NaN
2808,6,CA,California,15-1133,"Software Developers, Systems Software",detailed,"82,630",3.2,4.950,1.79,...,59.71,74.83,89.87,"75,860","95,420","124,190","155,640","186,920",NaN,NaN
2809,6,CA,California,15-1134,Web Developers,detailed,"21,150",3.8,1.267,1.43,...,36.96,53.56,69.36,"36,580","52,280","76,880","111,400","144,260",NaN,NaN
2810,6,CA,California,15-1141,Database Administrators,detailed,"12,030",3.7,0.721,0.90,...,45.92,59.94,71.80,"46,660","65,550","95,500","124,670","149,340",NaN,NaN
2811,6,CA,California,15-1142,Network and Computer Systems Administrators,detailed,"40,700",2.5,2.438,0.93,...,44.37,57.17,71.29,"53,680","71,040","92,290","118,910","148,280",NaN,NaN
2812,6,CA,California,15-1143,Computer Network Architects,detailed,"16,900",5.1,1.012,0.91,...,60.19,76.57,93.62,"65,320","93,010","125,190","159,260","194,740",NaN,NaN
2813,6,CA,California,15-1151,Computer User Support Specialists,detailed,"69,030",2.4,4.135,0.96,...,28.57,37.19,47.69,"35,640","45,870","59,430","77,360","99,190",NaN,NaN
2814,6,CA,California,15-1152,Computer Network Support Specialists,detailed,"17,420",3.5,1.043,0.80,...,34.66,46.02,58.56,"42,250","54,990","72,080","95,710","121,810",NaN,NaN
2815,6,CA,California,15-1199,"Computer Occupations, All Other",detailed,"47,930",2.5,2.871,1.30,...,45.23,60.34,76.07,"44,680","64,470","94,070","125,510","158,230",NaN,NaN
2816,6,CA,California,15-2011,Actuaries,detailed,"1,200",16.8,0.072,0.53,...,52.95,69.68,82.11,"67,420","85,210","110,130","144,930","170,800",NaN,NaN
2817,6,CA,California,15-2021,Mathematicians,detailed,660,14.8,0.040,2.07,...,52.94,66.05,81.67,"57,980","80,450","110,120","137,390","169,860",NaN,NaN
2818,6,CA,California,15-2031,Operations Research Analysts,detailed,"12,670",4.9,0.759,1.02,...,42.21,55.66,69.76,"47,180","63,430","87,800","115,780","145,110",NaN,NaN
2819,6,CA,California,15-2041,Statisticians,detailed,"4,990",4.6,0.299,1.17,...,40.74,54.99,70.72,"56,590","69,810","84,740","114,380","147,090",NaN,NaN
2820,6,CA,California,15-2090,Miscellaneous Mathematical Science Occupations,detailed,110,15.5,0.006,0.45,...,17.67,30.22,54.34,"26,850","30,580","36,740","62,850","113,030",NaN,NaN

In [18]:
occupations = ca_df[["occupation_code", "occupation_title"]].copy()
occupations.reset_index(drop=True, inplace=True)
occupations

   occupation_code                                occupation_title
0          15-0000           Computer and Mathematical Occupations
1          15-1111    Computer and Information Research Scientists
2          15-1121                       Computer Systems Analysts
3          15-1122                   Information Security Analysts
4          15-1131                            Computer Programmers
5          15-1132               Software Developers, Applications
6          15-1133           Software Developers, Systems Software
7          15-1134                                  Web Developers
8          15-1141                         Database Administrators
9          15-1142     Network and Computer Systems Administrators
10         15-1143                     Computer Network Architects
11         15-1151               Computer User Support Specialists
12         15-1152            Computer Network Support Specialists
13         15-1199                 Computer Occupations, All Other
14         15-2011                                       Actuaries
15         15-2021                                  Mathematicians
16         15-2031                    Operations Research Analysts
17         15-2041                                   Statisticians
18         15-2090  Miscellaneous Mathematical Science Occupations

In [19]:
yearly_stats = ca_df[["occupation_code", "hourly_median", "annual_median", "hourly_mean", "annual_mean", "total_employment"]].copy()
yearly_stats.reset_index(drop=True, inplace=True)
yearly_stats

,occupation_code,hourly_median,annual_median,hourly_mean,annual_mean,total_employment
0,15-0000,48.31,"100,480",50.66,"105,380","590,550"
1,15-1111,59.20,"123,130",61.80,"128,530","5,750"
2,15-1121,47.08,"97,940",49.45,"102,860","72,980"
3,15-1122,52.11,"108,390",51.97,"108,090","8,470"
4,15-1131,45.01,"93,620",46.28,"96,270","34,050"
5,15-1132,58.28,"121,210",60.80,"126,470","141,870"
6,15-1133,59.71,"124,190",61.17,"127,230","82,630"
7,15-1134,36.96,"76,880",40.51,"84,270","21,150"
8,15-1141,45.92,"95,500",45.98,"95,630","12,030"
9,15-1142,44.37,"92,290",46.35,"96,420","40,700"
10,15-1143,60.19,"125,190",61.91,"128,770","16,900"
11,15-1151,28.57,"59,430",30.60,"63,660","69,030"
12,15-1152,34.66,"72,080",36.94,"76,830","17,420"
13,15-1199,45.23,"94,070",47.34,"98,460","47,930"
14,15-2011,52.95,"110,130",56.71,"117,950","1,200"
15,15-2021,52.94,"110,120",53.88,"112,070",660
16,15-2031,42.21,"87,800",43.99,"91,510","12,670"
17,15-2041,40.74,"84,740",45.30,"94,230","4,990"
18,15-2090,17.67,"36,740",26.59,"55,310",110